// footer styles
$color_header:#383737;
footer {
    &.footer-bg {
        min-height: 379px;
        width: 100%;
        background-color:transparentize(#D7DBE6,0.8);
    }
    .footer__container {
        width:80%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        .footer_section {
            padding-top:80px;
            h3 {
                color: $color_header;	
                font-family: Montserrat;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-bottom:25px;
            }
            li{
                list-style: none;
                margin-bottom:15px;
                
            }

            a {
                text-decoration: none;
                color:$color_header;
                font-family: 'Lato', sans-serif;
            }

            &:last-of-type *:not(h3) {
                margin-bottom:15px;
            }
            address {
                font-style:normal;
                font-family: 'Lato', sans-serif;
            }
            .social-panel {
                display:flex;
                flex-direction: row nowrap;
                justify-content: space-between;
            }
            
        }
        .fab::before {
            color: #162956;
            font-size:24px;
        }  
    }
}

