// section styles
.clearfix{
    overflow: auto;
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

a{
    text-decoration: none !important;
}
section{
    background-color: $white;
    max-width: 85%;
    margin:30px auto 10px;
    font-family: 'Montserrat', sans-serif;

    .section__title {
        color: #1A2C59;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2rem;
        float:left;
        margin-bottom: 30px; 
    
        & + a{
            color: #162956;
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            line-height: 1.5rem;
            float:right;
            text-decoration: none;
            &::after{
                content:"\f061";
                font-family: 'FontAwesome';
                font-style: normal;
                font-weight: 900;
                padding-left:3px;
            }
        }
    }
}


.wines__panel{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content:space-between;
    justify-content: flex-start;

    .wine__item{
        align-self: center;
        font-family: 'Montserrat', sans-serif;
        flex-direction: column;
        align-items: center;
        align-content: stretch;
        flex: 1 0 auto;
        text-align: center;
        padding:20px 10px;
        width:24%;
        height: 460px;
        min-width: 260px;
        max-width: 300px;

        img{
            margin:0 auto 20px;
            height:242px;
        }
        .wine__title{
            font-weight: normal;
            font-size: 1.13rem;
            margin-bottom: 0.75rem;
        }
        .wine__price {
            display:flex;
            justify-content:center;
            font-size:0.875rem;
            margin-bottom: 1.13rem;
            &>span:first-child{margin-right:20px;}
        }
        .wine__rate {
            margin:auto;
            align-self: center;
            display:flex;
            justify-content:center;
            margin-bottom:24px;
            .wine__review{
                font-size: 14px;
                margin-left:14px;
            }
        }
        .star{
            height:18px;
            width:18px;
            display: inline-block;
            background-color: rgb(68, 68, 68);
            -webkit-mask: url('../../images/star-regular.svg') no-repeat center;
            mask: url('../../images/star-regular.svg') no-repeat center;
 
            &.active {
                background-color: #E68719;
                -webkit-mask: url('../../images/star-solid.svg') no-repeat center;
                mask: url('../../images/star-solid.svg') no-repeat center;
            }
        }

        .wine__btns{
            height: 0;
            overflow: hidden;
        }

        .view__btn{
            @include btn($white,$black);
            border: 1px solid $black;
        }
        .addToCart__btn{
            @include btn;
        }
        .view__btn,.addToCart__btn{
            text-decoration: none;
            padding:12px 16px;
            margin:1px;
            font-size: 14px;
        }


        .wine__rate{visibility: hidden;}

        &:hover,&:focus,&:active{
            .wine__rate {visibility:visible;}
            .wine__btns{
                height: auto;
            }
            border: 2px solid rgba(0,0,0,0.1);
            box-shadow: 0 0 40px 0px rgba(0,0,0,0.1);
        }
    }
}

.advice__panel{
    max-width:100%;
    width:100%;
    background-image: url("../../images/experts.png");
    min-height: 300px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    margin-bottom:140px;

    .advice{
        @extend .shadow__box;
        align-self: flex-end;
        width: 670px;
        padding: 40px;
        position: relative;
        left:14%;
        margin-bottom:-100px;
        h3{
            font-size: 2rem;
            line-height: 2rem;
            color: #1A2C59;
            font-weight: 300;
            margin-bottom: 24px;
        }
        p{
            font-size: 1rem;
            line-height: 24px;
        }
        a{
            @include btn;
            padding:10px 25px;
            margin: 30px 0 0;
        }
    }
    
}

.recipes__panel{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .recipes__item{
        align-self: stretch;
        display:flex;
        flex-wrap: wrap;
        flex:1 0 auto;
        max-width: 33%;
        min-width: 300px;
        justify-content: space-between;
        padding:0 25px 25px;
    
        .recipe__img{
            display:flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            overflow: hidden;
            margin:auto -25px;
                
            img{
                width:100%;  
            }
    
            .img__title{
                font-size:2rem;
                color:$white;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h5 {
            font-size:1.125rem;
            font-weight: 500;
            margin-bottom:1rem;
        }
        .recipe__desc {
            opacity: 0.8;
            font-size:1rem;
            margin-bottom:24px;
        }
        .recipe__link{
            color: #162956;
            font-family: 'Lato', sans-serif;
            font-size:1rem;
            text-transform: uppercase;
            line-height: 24px;
    
            &::after{
                content:"\f061";
                font-family: 'FontAwesome';
                font-weight: 900;
                padding-left:5px;
                text-decoration: none;
            }

        }
    
    }

}

.fans__panel{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin:60px auto;
    text-align: center;
    h3{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 300;
        margin: 0 auto;
        &+p{
            max-width: 356px;
            opacity: 0.8;
            font-size: 1rem;
            line-height: 24px;
            margin:20px auto;
        }
    }
}

.section_wmfans{
    width:80%;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;

    .wmfan{
        flex:1 0 auto;
        padding:15px;
        text-align: center;
        position: relative;
        overflow: hidden;
        animation: slide 12s linear infinite;

        img:last-of-type{
            position: relative;
            margin:-28px auto 0;
            display:block;
        }

        a{
            width:100%;
            margin:10px auto auto;
            font-size:1.125rem;
            font-weight: 500;
            color:$black;
        }
    }
}

@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1800px, 0, 0);
    }
    // 100%{
    //   width: 0;
    // }
  }