include ../../_modules/mixins/mixins

mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
    header    
        nav.nav(role='navigation')
            ul.nav__left
                each menu in site.data.nav
                    if menu.position == 'left'
                        +navlist(menu)
            +wm_logo
            ul.nav__right
                each menu in site.data.nav
                    if menu.position == 'right'
                        +navlist(menu)
                li.mycart
                    a(href="")
                        | my cart
                        i.fas.fa-shopping-cart
                        span.cart-count 12
            

        .hero-png
            h1 The best independent and speicalty wines
            .hero__btn 
                p SHOP NOW

        .search-container
            form.search-bg
                label.search__text
                input.search__text(
                    type='text'
                    id='searchitem'
                    name='searchitem'
                    placeholder='Search "What\'s the best wine to go with pasta?"'
                    )
                button(type='submit').search__btn SEARCH

        

            


