$color__nav__font: #162956;
$color__header_bg: #FFFFFF;
$color__cart-count:#FF2846;
$white:#FFF;
$black: #000;

//reuse components
.wine-merchant-logo {
    height: 121px;
    width: 123px;
    text-align: center;
    left: calc(50% - 123px / 2);
    z-index: 5;

    .row{
    margin:0 auto;
    text-align:center;
    display:block;

    .circle__solid__red{
        display:inline-block;
        border-radius: 50%;
        height:0;
        width:0;
        border:6px solid #FF2846;
    }
    }
    
    .wmlogo-wine {
        font-size:2em;
        color:$color__nav__font;
    }
    .wmlogo-merchant {
        font-size:0.5em;
        color:$color__nav__font;
    }
}

.shadow__box {
    border: 2px solid rgba(0,0,0,0.1);
    background-color:$white;
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.1);
}

// header styles
.nav {
    width:85%;
    display:block;
    height:95px;
    background-color: $color__header_bg;
    margin:auto;
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-between;

    ul {
        list-style-type: none;
        display:inline-block;
        display:flex;
        flex-wrap: wrap;
        // align-items: stretch;
        &.nav__left{
            justify-content: flex-start;
        }
        &.nav__right{
            justify-content: flex-end;
        }
        li {
            display:inline-block;
            margin:auto;
            &:last-child{
                padding:0;
            }
            &.mycart{
                .fa-shopping-cart:before{
                    padding-left:5px;
                    height: 24px;
                    width: 27px;
                    color: #162956;
                }
                .cart-count{
                    height: 24px;
                    width: 24px;
                    background:$color__cart-count;
                    border-radius: 50%;
                    position:relative;
                    top:-12px;
                    left:-4px;
                    color:$white;
                    font-family: 'Lato', sans-serif;
                    font-size: 14px;
                    line-height:24px;
                    padding:3px 5px 4px 4px;
                }
            }
        }

        a{
            text-decoration: none;
            display:inline-block;
            color: $color__nav__font;
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
            margin:0.5rem;
        }
    }
    .wine-merchant-logo {
        position: absolute;
        top:20px;
    }
}
    
.hero-png {
	max-height: 548px;
    width: 100%;
    background: url('../../images/hero.png') no-repeat;
    background-size: cover;
    text-align: center;
    padding-top:155px;
    display:flex;
    flex-direction:column;
    
    & *{
        z-index: 2;
    }

    h1 {
        min-height: 110px;
        max-width: 526px;
        color:$white;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5em;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
    }
    .hero__btn {
        height: 48px;
        max-width: 169px;
        border: 1px solid $white;
        margin: 39px auto 118px;
        display:block;
        p {
            font-family: 'Lato', sans-serif;
            font-size: 1em;
            color: $white;
            text-align: center;
            padding:13px;
        }
    }
    
}

.search-container {
	min-height: 150px;
    width: 80%;
    max-width:1170px;
    background-color: $white;
    margin:-75px auto 0;
    text-align: center;

    .search-bg {
        @extend .shadow__box;
        min-height: 80px;
        max-width: 100%;
        position: relative;
        top: 30px;
        margin: 0 30px;
        padding:0 1em;
        display:flex;
        flex-wrap: nowrap;
        justify-content:space-between;
        align-items:center; //vertical align

        label.search__text::before{
            font-family:'FontAwesome';
            font-style:'normal';
            font-weight: 900;
            content:'\f002';
            height: 33px;
            width: 32px;
            opacity: 0.3;
            padding-right:0.5em;
            font-size: 1.25em;
        }
        input.search__text{
            flex-basis: 80%;
            display:inline-block;
            opacity: 0.6;
            color:$black;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.25em;
            font-weight: 300;
            padding:0 5px;
            border:none;
            overflow: auto;
        }
        .search__btn {
            @include btn;
            height: 48px;
            width: 120px;
        }
    }
}