//- minxin wine-merchant-logo
//-     .wine-merchant-logo
//-         .row
//-             .circle__solid__red
//-             .circle__solid__red
//-             .circle__solid__red
//-         .row
//-             .circle__solid__red
//-             .circle__solid__red
//-         .row
//-             .circle__solid__red

nav.nav
    ul.nav__left
        li find a store
        li wine clue
        li winemakers
    ul.nav__right
        li shop
        li login
        li.mycart my cart
            i.fas.fa-shopping-cart
            span.cart-count 12
    .wine-merchant-logo
            .circle__solid__red
            .circle__solid__red
            .circle__solid__red

            .circle__solid__red
            .circle__solid__red

            .circle__solid__red
    

            


