extends _layouts/base
include _modules/header/header
include _modules/section/section

block content
    +header()
    +section('wines')(title='wines').clearfix
    +section('recipes')(title="Food and Wine from Jo's cookbook").clearfix
  
